# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env
.env.*

# ML models
*.pkl
*.joblib

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/

# Framework-specific
.next/
.out/
.nuxt/